<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os meus textos criados</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" >
</head>

<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav>
        <div class="bg-gray-800 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/" class="text-white text-2xl font-bold">IA Geradora de Texto</a>
                <ul class="flex">
                    <li><a href="#" class="text-white p-2 hover:underline">Home</a></li>
                    <li><a href="#" class="text-white p-2 hover:underline">About</a></li>
                    <li><a href="#" class="text-white p-2 hover:underline">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Conteudo Principal -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
         <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <!-- Sessão de textos criados -->
            <section>
                <h2 class="text-xl mb-4 font-semibold"> Todos os textos criados</h2>
                <div class="space-y-4">
                    <div class="border border-gray-400 p-4 rounded-lg">
                        <h3 class="text-lg font-semibold  ">Título do post 1</h3>
                        <p> Esse é o conteúdo do texto criado. Lorem, ipsum dolor sit amet consectetur adipisicing elit... </p>    
                    </div>

                    <div class="border border-gray-400 p-4 rounded-lg">
                        <h3 class="text-lg font-semibold  ">Título do post 2</h3>
                        <p> Esse é o conteúdo do texto criado. Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>    
                    </div>

                    <div class="border border-gray-400 p-4 rounded-lg">
                        <h3 class="text-lg font-semibold  ">Título do post 3</h3>
                        <p> Esse é o conteúdo do texto criado. Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>    
                    </div>
                    <!-- repetir o bloco acima para cada texto criado -->

                </div>
            </section>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="text-center p4 text-grey-800 mt-6">
        <p>&copy; Ana Luisa Silveira (Versão Brasileira).</p>
    </footer>
</body>
</html>