<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do post</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" >
</head>
<body class="bg-gray-100 font-sans antialiased">
    <nav>
        <div class="bg-gray-800 p-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="/" class="text-white text-2xl font-bold">IA Geradora de Texto</a>
                <ul class="flex">
                    <li><a href="#" class="text-white p-2 hover:underline">Home</a></li>
                    <li><a href="#" class="text-white p-2 hover:underline">Voltar</a></li>
                    <li><a href="#" class="text-white p-2 hover:underline">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- conteudo principal -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <section>
                <h2 class="text-xl mb-4 font-semibold"> Detalhes do post</h2>
                <div class="border border-gray-400 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold"> Título do Post</h3>
                    <p class="text-gray-700"> Conteúdo </p>
                    <hr class="my-4 border-gray-400">
                    <h4 class="text-lg font-semibold"> Título do Vídeo do Youtube</h4>
                    <p class="text-gray-700"> Título do vídeo do youtube</p>
                    <br>
                    <h4 class="text-lg font-semibold"> Link do Vídeo do Youtube</h4>
                    <a href="#" class="text-blue-800 hover:underline"> https://www.youtube.com/watch?v=ftKiHCDVwfA</a> 

                </div>
            </section>
        </div>
    </div>

        <!-- Rodapé -->
    <footer class="text-center p4 text-grey-800 mt-6">
        <p>&copy; Ana Luisa Silveira (Versão Brasileira).</p>
    </footer>
</body>
</html>
